
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div>
    <div>
        <partial name = "CustomerNavigation"/>
    </div>
    <div>
        @RenderBody()
    </div>
</div>
            