@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, NetCoreConstructorAngular
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ApplicationMVC.Views.Account.RestoreModel
<div style="padding: 20px;"  class="front-pane init">

    <!-- Вспомогательные функции -->
    <script>
        function setPlaceholderFor(propertyName) {
            document.getElementById(propertyName + "Input").placeholder =
                document.getElementById(propertyName + "Label").innerHTML;
        }
        function setValidationStateFor(propertyName, validationState) {

            document.getElementById(propertyName + "Input").classList.add("is-" + validationState);
        }
    </script>


    <form asp-antiforgery="true">

        <h2> Восстановление доступа </h2>
        <div class="validation" style="color: red;" asp-validation-summary="All"></div>

        <p> Укажите адрес электронной почты указанный при регистрации, чтобы восстановить доступ. </p>


        <!-- Email -->
        <label asp-for="Email" id="EmailLabel"></label>
        <div class="input-group">
            <input asp-for="Email"
                   class="form-control is-@Model.EmailValidationState"
                   id="EmailInput">
            <script>setPlaceholderFor("Email");</script>
        </div>
        <div>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div><br />

        <div>
            <span class="text-danger"> @Model.ErrorMessage </span>
        </div><br />

        <button class="btn btn-primary" type="submit"> Восстановить </button>
    </form>
    <div>
        <div align="center"><a asp-controller="Account" asp-action="Login">На страницу авторизации</a></div>

    </div>
</div>

